.container{
    position: relative;
    width: 240px;
    max-height: 100vh;
    background: #2f3137;
    display: flex;
    flex-direction: column;
}

.header{
    height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
        outline: none;
        height: 28px;
        width: 210px;
        line-height: 24px;
        border-radius: 4px;
        background: #212326;
        border: none;
        color: #a2a5a9;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 10px;
    }

    &::after{
        content: '';
        position: absolute;
        width: 240px;
        height: 0.2px;
        background: #212326;
        top: 7.3%;
    }
}

.content{
    width: 100%;
    height: max-content;
    flex-grow: 1;
}